<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="NetClientX">
    <item label="Restart Web Browser">
      <action name="Execute"><command>pkill -f chromium-browser || pkill -f firefox</command></action>
    </item>
    <item label="Open Wi-Fi Settings">
      <action name="Execute"><command>nm-connection-editor</command></action>
    </item>
    <separator />
    <item label="Reboot System">
      <action name="Execute"><command>systemctl reboot</command></action>
    </item>
    <item label="Shutdown System">
      <action name="Execute"><command>systemctl poweroff</command></action>
    </item>
  </menu>
</openbox_menu>
